.jumbotron {
    background-image:url("https://images.unsplash.com/photo-1672053523143-77ca9ab0fdd0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8dzE1SGZRb3l6WFV8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}